:root {
  --dark-blue: #1735f5;
  --light-blue: #20639b;
  --teal: hsl(174, 49%, 46%);
  --gray: #d8dadb;
  --slate: #232931;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: var(--gray);
}

.main-section {
  box-shadow: 1px 2px 2px var(--slate);
  border-left: 1px solid var(--slate);
  border-top: 1px solid var(--slate);
}

.main-section-margin {
  margin-bottom: 3em;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.wrap-header {
  background-color: var(--light-blue);
  color: var(--gray);
  font-size: 1em;
  margin-top: 1em;
}

.header-inner {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

.header-logo {
  margin-right: auto;
}

.header-item {
  margin-left: 3em;
}

.header-phone-number {
  font-size: 1em;
  margin-left: 0.5em;
}

/* hero */

.hero-inner {
  position: relative;
}

.hero-img {
  display: block;
}

.hero {
  position: absolute;
  margin: 1em;
  top: 0;
  left: 2em;
  font-size: 3em;
}

/* content text */

.wrap-content {
  border: 1px solid var(--slate);
  display: flex;
  height: 400px;
}

.content-inner {
  margin: 1em;
  margin-bottom: 1em;
  border: 1px solid #9b9b9bbe;
  width: 40%;
  border-radius: 5px;
  background-color: var(--teal);
  /* overflow-y: scroll; */
}

.content-heading {
  font-size: 2em;
  padding-top: 1em;
  padding-left: 1em;
}

.content-text {
  font-size: 1.3em;
  padding: 1.3em;
}

/* services */
.p1 {
  transform: translateY(-100px);
  z-index: 2;
}

.p2 {
  transform: translateY(80px) translateX(-150px);
  z-index: 1;
}

.p3 {
  transform: translateY(80px) translateX(150px);
  z-index: 1;
}

.service-focus {
  background-color: var(--teal) !important;
}

.services-inner {
  width: 60%;
  position: relative;
}

.service-card {
  position: absolute;
  width: 240px;
  height: 170px;
  left: calc(50% - 120px);
  top: calc(50% - 85px);

  border-radius: 60px;
  box-shadow: 2px 2px 4px var(--slate);
  border: 1px solid var(--gray);
  background-color: var(--gray);

  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
}

.service-heading {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-size: 1.4em;
}

.service-text {
  padding: 1em;
  font-size: 1em;
}

/* footer */

.wrap-footer {
  background-color: var(--light-blue);
  margin-bottom: 0 !important;
  color: var(--slate);
  letter-spacing: 0.1em;
  font-weight: 300;
}

.footer-inner {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

#map {
  height: 400px;
  width: 50%;
}

.footer-sub {
  width: 50%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-sub-item {
  padding: 2em;
  display: inline;
}

.footer-phone {
  width: auto;
  padding: 0.3em;
  border-radius: 5px;
  background-color: var(--gray);
}

.footer-phone h5 {
  display: inline;
}

@media only screen and (max-width: 1470px) {
  .container {
    width: 100%;
  }
}
